<div class="m-3 row gap-3">
  <input type="search" [(ngModel)]="name" class="form-control" />
  <app-add-product></app-add-product>
  <!-- <div *ngFor="let product of products | customPipes:name " class="card" style="width: 18rem"> -->
  <div *ngFor="let product of products" class="card" style="width: 18rem">
    <img [src]="product.img" class="card-img-top" [alt]="product.name" />
    <div class="card-body">
      <h5 class="card-title">{{ product["name"] | titlecase }}</h5>
      <p class="card-text">
        {{ product["description"] }}
      </p>
      <!-- <b>Price: <Span [ngStyle]="{'color' : product.price > 50000 ? 'red' : 'black'}">{{ product.price }}</Span></b> <br /> -->
      <b
        >Price:
        <Span [ngClass]="{ 'custom-badge': product.price > 50000 }">{{
          product.price | currency : "EUR"
        }}</Span></b
      >
      <br />
      <!-- <a href="#" class="myBtn button btn btn-primary">Go somewhere</a> -->

      <!-- From Uiverse.io by doniaskima -->
      <button class="btn-31">
        <span class="text-container">
          <span class="text">buy now</span>
        </span>
      </button>
      <button class="btn-31" (click)="onDeleteProduct(product.id)">
        <span class="text-container">
          <span class="text">delete</span>
        </span>
      </button>
      <button class="btn-31" (click)="onClickGo(product.id)">
        <span class="text-container">
          <span class="text">Go</span>
        </span>
      </button>

      <button class="btn-31" (click)="onAddToCart()">
        <span class="text-container">
          <span class="text">add to cart</span>
        </span>
      </button>
    </div>
  </div>
  <div *ngIf="products.length === 0">
    <h1 class="text-center">No Products Available</h1>
  </div>

  <!-- <div *ngFor="let num of nums" class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Tables</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ num }} table</h6>
      <p class="card-text">{{ tablenum }}x {{ num }}</p>
    </div>
  </div> -->

  <!-- <div>
  <p [ngStyle]="{background: tablenum * num % 2 !==0 ? 'blue' : ''}"
  *ngFor = "let num of nums">
    {{tablenum}} x {{num}} = {{tablenum * num}}
  </p>

  </div> -->

  <div>
    <button (click)="Clickme()">Click me</button>

    <p
      [ngClass]="{ 'badge  bg-primary': number % 2 === 0 }"
      *ngFor="let number of numbers"
    >
      {{ number }}
    </p>
  </div>
</div>
