<app-navbar></app-navbar>

<!-- <div class="container"> -->
<!-- <h1 class="text-center">{{num}}</h1>

<button (click)="onClickMe()" class="btn btn-primary">Increase Number!</button>
<button (click)="onClickDecrease() " class="btn btn-secondary m-3">Decrease Number</button> -->

<!-- <input type="text" (input) ="onInput($event)"> -->

<!-- <input [(ngModel)]="collect" type="text" class="form-control">{{collect}} -->

<!-- <button type="submit" [disabled]="collect.length===0" [ngClass] ="collect.length===0 ? 'btn btn-danger' : 'btn btn-success'">Submit</button> -->
<!-- <app-add-product (productEmitter)="addProduct($event)"></app-add-product> -->
<!-- <app-add-product></app-add-product> -->
<!-- <app-cards [products]="prods"></app-cards> -->

<!-- <app-cards></app-cards> -->

<!-- </div> -->

<div class="container mt-2">
  <router-outlet></router-outlet>

  
</div>
